<!DOCTYPE html>
<html ng-app="mbsjobs">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UI-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" contnet="">

    <!-- Indeed click tracking -->
    <script type="text/javascript" src="http://www.indeed.com/ads/apiresults.js"></script>
  </head>
  <body>

    <h1>Welcome to MBS Jobs!</h1>
    <a href="/admin">Admin Page</a>
    <p></p>
    <div ng-controller="JobSearchController">

      <!-- Jobs search form -->
      <form ng-submit="searchJobs()">
        <input type="text" placeholder="Search phrase" maxlength="50" ng-model="searchPhrase"></input>
        <input type="text" placeholder="Zipcode" maxlength="5" ng-model="zipcode"></input>
        <button type="submit">Search</button>
      </form>

      <!-- List of resulting jobs -->
      <p>{{ searchMessage }}</p>
      <ul>
        <li ng-repeat="job in jobResults">
          <h3 ng-bind-html="createJobLinkFromJob(job);"></h3>
          <p>{{ job.company }}</p>
          <p ng-bind-html="job.snippet"></p>
          <p>{{ job.formattedLocationFull }}</p>
          <p>{{ job.formattedRelativeTime }}</p>
        </li>
      </ul>
      <p>
        <span ng-click="previousResults()"><u>BACK</u></span>
        PAGE {{ resultsPageNumber }}
        <span ng-click="nextResults()"><u>NEXT</u></span>
      </p>
    </div>

    <div>
      <span id=indeed_at><a href="http://www.indeed.com/">jobs</a> by <a href="http://www.indeed.com/" title="Job
Search"><img src="https://www.indeed.com/p/jobsearch.gif" style="border: 0; vertical-align: middle;" alt="Indeed job
search"></a></span>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-resource/angular-resource.js"></script>
    <script src="/node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/controllers/JobSearchController.js"></script>

    <script>
      $( document ).ready(function() {
          // Load and execute the dynamic tracking code.
          $.getScript("/js/tracking.js");

          $.get("http://api.indeed.com/ads/apisearch?chnl=FJR&format=json&l=98004&limit=10&publisher=2878037053725137&q=developer&start=0&useragent=Mozilla%2F5.0+(Windows+NT+10.0;+WOW64)+AppleWebKit%2F537.36+(KHTML,+like+Gecko)+Chrome%2F49.0.2623.87+Safari%2F537.36&userip=::1&v=2", function(data, status){
            console.log("ajax sent");
            console.log(status);
            console.log(data);
          });
      });
    </script>

  </body>
</html>
